*{
    margin: 0;
    padding: 0;
}
h6 {
    color: darkgrey !important;
}
h5 {
    color: rgb(100, 98, 98) !important;
}
.btn-secondary{
    background-color:#f3b359 !important;
    border-color: #f3b359 !important;
}
.btn-danger{
    background-color:#f49c20 !important;
    border-color: #f49c20 !important;
}
.btn-outline-success{
    border-color: black !important;
    color: black !important;
}
.btn-outline-success:hover{
    background-color: black !important;
    color: white !important;
}
.btn-margin{
    margin-top: 15px;
    margin-bottom: 15px;
}
.flag{
    height: 30px;
    width: 50px;
    margin-right: 10px;
}
.flags{
    right: 10px;
    position: absolute;
}
aside {
    float: left;
    color: #fff;
    width: 250px;
    padding-top: 15px;
    padding-left: 30px;
    background-color: #f1c0a3;
    border-top-right-radius: 80px;
    margin: 50px 50px 0 0 !important;
}
aside label {
font-size: 16px;
color: black;
padding-top: 8px;
padding-left: 10px;
text-decoration: none;
-webkit-tap-highlight-color:transparent;
}
.title{
margin-bottom: 70px;
}
.book-title{
color: black;
text-decoration: none;
}
.float-left{
float: left;
}
.image{
height: 160px;
margin-bottom: 10px;
}
.show_image{
height: 300px;
}
.d-flex-input{
margin-left: 5px;
margin-right: 5px;
width: 250px !important;
}
.pointer{
cursor: pointer;
}
.description{
max-width: 500px;
}
.description p{
margin-left: 50px;
margin-bottom: 0;
}
.description h4{
margin-left: 50px;
}
.description p:first-of-type{
margin-bottom: 10px !important;
}
