*{
    margin: 0;
    padding: 0;
}
h6 {
    color: darkgrey !important;
}
aside {
    float: left;
    color: #fff;
    width: 250px;
    padding-left: 20px;
    background-image: linear-gradient(30deg , #f3b359, #f5d090);
    border-top-right-radius: 80px;
    margin: 40px 0 0 0 !important;
  }
  aside label {
    font-size: 16px;
    color: black;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
  }
  .title{
    margin-bottom: 30px;
  }
  .book-title{
    color: black;
    text-decoration: none;
  }
  .float-left{
    float: left;
  }
  .image{
    height: 160px;
  }
  .d-flex-input{
    margin-left: 5px;
    margin-right: 5px;
  }
  .pointer{
    cursor: pointer;
  }
